* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #1c6758, #3d8361);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 460px;
  display: flex;
  background-color: #d6cda4;
  padding: 26px;
  border-radius: 22px 22px 0 0;
  justify-content: center;
}

.todo {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #eef2e6;
}

.btn {
  display: inline-block;
  background-color: #eeffee;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 80px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 4px 8px 20px -10px rgba(0, 0, 0, 1);
}

.add-todo {
  margin: 0;
}

.footer {
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d6cda4;
  padding: 26px;
  border-radius: 0 0 22px 22px;
  margin-top: 20px;
}
