* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #344e41, #3a5a40);
}

.container {
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dad7cd;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 4px 8px 20px -10px rgba(0, 0, 0, 1);
}

.header {
  width: 100%;
  display: flex;
  background-color: #588157;
  padding: 26px;
  justify-content: center;
}

.todo-list {
  width: 100%;
  margin-top: 10px;
}

.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
  padding: 10px 20px;
  font-size: 20px;
  background-color: #dad7cd;
}

.btn {
  display: inline-block;
  background-color: #eeffee;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 80px;
  border-bottom: 2px solid black;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 4px 8px 20px -10px rgba(0, 0, 0, 1);
}

.input-text {
  display: flex;
  /* align-items: center; */
  margin-top: 20px;
}

.input {
  padding: 0 10px;
  font-size: 16px;
}

.button {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.add-todo {
  margin-top: 20;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #e0ddd2;
  padding: 26px;
  margin-top: 10px;
}
